<ul class="navbar-nav justify-content-center">
  <li class="nav-item">
    <a class="menu-item" routerLinkActive="active" routerLink="/">Home</a>
  </li>
  <li class="nav-item menu-item-has-mega-menu">
    <a class="menu-item" (click)="changeStateItemMenu(masculino)">Masculino <i class="fas fa-caret-down"></i></a>
    <div class="mega-menu" #masculino>
      <div class="row p-3 p-xl-5 w-100 m-0">
        <div class="col-12 col-xl mega-column" *ngFor="let masculino of menu.masculino">
          <h4 class="mega-heading">{{masculino.name}}</h4>
          <ul class="mega-item">
            <li><a (click)="goToProductListing('', masculino.name, gender.MALE, subCategoria.name)" *ngFor="let subCategoria of masculino.subCategory">{{subCategoria.name | titlecase}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="nav-item menu-item-has-mega-menu">
    <a class="menu-item" (click)="changeStateItemMenu(feminino)">Feminino <i class="fas fa-caret-down"></i></a>
    <div class="mega-menu" #feminino>
      <div class="row p-3 p-xl-5 w-100 m-0">
        <div class="col-12 col-xl mega-column"  *ngFor="let feminino of menu.feminino">
          <h4 class="mega-heading">{{feminino.name}}</h4>
          <ul class="mega-item">
            <li><a (click)="goToProductListing('',  feminino.name, gender.FEMALE, subCategoria.name)"  *ngFor="let subCategoria of feminino.subCategory">{{subCategoria.name | titlecase}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="menu-item" href="#">Tênis</a>
  </li>
  <li class="nav-item">
    <a class="menu-item" href="#">Acessórios</a>
  </li>
  <li class="nav-item">
    <a class="menu-item" (click)="goToProductListing('', 'nz', undefined)">NZ</a>
  </li>
  <li class="nav-item">
    <a class="menu-item" href="#">Contato</a>
  </li>
</ul>
