<div class="container pt-5 pb-5">
  <div class="container-header">
    <h1>Desenvolvedores</h1>
  </div>

  <div class="container-people row">
    <div class="col-4 profile-image">
      <img class="w-100" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
    </div>
    <div class="details-dev col-8">
      <h2>André Nascimento</h2>
      <h3>Software Engineer Jr</h3>
      <p>Glavi amet ritnisl libero molestie ante ut fringilla purus eros quis glavrid from dolor amet iquam lorem
        bibendum</p>
      <div class="icons-social-midia row p-0 m-0">
        <div class="pr-1"><a href="https://www.linkedin.com/in/andr%C3%A9nascimento/" target="_blank"><i
          class="fab fa-linkedin"></i></a></div>
        <div><a href="https://www.instagram.com/nfandree" target="_blank"><i class="fab fa-instagram"></i></a></div>
      </div>
    </div>
  </div>

  <div class="container-people row">
    <div class="col-4 profile-image">
      <img class="w-100" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
    </div>
    <div class="details-dev col-8">
      <h2>Felipe Loureiro</h2>
      <h3>Software Engineer</h3>
      <p>Glavi amet ritnisl libero molestie ante ut fringilla purus eros quis glavrid from dolor amet iquam lorem
        bibendum</p>
      <div class="icons-social-midia row p-0 m-0">
        <div class="pr-1"><a href="https://www.linkedin.com/in/felipeloureiro/" target="_blank"><i
          class="fab fa-linkedin"></i></a></div>
        <div><a href="https://www.instagram.com/felipe.loureiro_" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-people row">
    <div class="col-4 profile-image">
      <img class="w-100" src="assets/images/rafael-peinado.jpg">
    </div>
    <div class="details-dev col-8">
      <h2>Rafael Peinado</h2>
      <h3>Analyst Software Engineering</h3>
      <p>Desenvolvedor de software front-end e layouts responsivos em Angular utilizando a Metodologia Ágil. Graduado em Análise e
        Desenvolvimento de Sistemas no Instituto Federal de São Paulo.</p>
      <p><b>Competências:</b> Angular, Java, Bootstrap, CSS, JavaScript, SQL, PostgreSQL e MySQL.</p>
      <div class="icons-social-midia row p-0 m-0">
        <div class="pr-1"><a href="https://www.linkedin.com/in/rafael-peinado-da-silva/" target="_blank"><i
          class="fab fa-linkedin"></i></a></div>
        <div><a href="https://www.instagram.com/rafa.peinado/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

