.container-header {
  max-width: 850px;
  margin: auto;
}

.container-header h1 {
  text-align: center;
  font-weight: 700;
  color: #2b2828;
  margin-bottom: 22px;
  font-size: 48px;
  text-transform: uppercase;
}

.container-people {
  padding: 30px;
  max-width: 850px;
  margin: auto;
}

.profile-image img {
  border-radius: 50%;
}

.details-dev {
  margin-top: auto;
  margin-bottom: auto;

  h2 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 6px;
  }

  h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  p {
    font-size: 20px;
  }
}

.icons-social-midia {
  a {
    font-size: 40px;
    color: #999999;
  }

  a:hover {
    opacity: 0.9;
  }
}
