<div *ngIf="isLoading$ | async; else orderReview"></div>
<ng-template #orderReview>
  <div class="container p-container">
    <form class="row m-0 p-0" [formGroup]="formGoToPayment">
      <div *ngIf="!isLogged" class="col-12 col-lg-8">
        <div class="container-login text-center">
          <h1 class="page-title mb-3 mb-lg-4 text-left">Login</h1>
          <app-login></app-login>
        </div>
      </div>
      <div *ngIf="isLogged" class="col-12 col-lg-8">
        <h1 class="page-title ml-3 mb-3 mb-lg-4">Endereços</h1>
        <div class="row p-0 m-0">
          <div class="col-12 col-md-6 mb-4" *ngFor="let address of addresses, let i = index;">
            <div class="card container-card">
              <div class="card-body">
                <div class="ml-3">
                  <input class="form-check-input" type="radio" formControlName="shipmentId" name="shipmentId"
                         id="address{{ address.id }}"
                         [value]="address.id" (change)="getIndexAddress(i)">
                  <label class="form-check-label" for="address{{ address.id }}"><h5
                    class="card-title">{{ address.street }}, {{ address.number }}</h5></label>
                </div>
                <p class="card-text m-1">{{ address.complement }}</p>
                <p class="card-text m-1">{{ address.district }} - {{ address.city }} - {{ address.state }}</p>
                <p class="card-text m-1">{{ address.cep }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 pb-4 text-center">
          <a class="btn btn-primary btn-add-address" routerLink="/minha-conta/enderecos/novo">ADICIONAR ENDEREÇO</a>
        </div>
      </div>
      <div class="col-12 col-lg-4 pr-3 pl-3">
        <div class="row p-0 m-0">
          <div class="my-order">
            <div class="your-order pt-2 pb-2">
              <h3>Seu Pedido</h3>
            </div>
            <div>
              <div class="row m-0 p-0 header-order">
                <div class="col-8 p-0 pr-2 mb-2">Pedido</div>
                <div class="col-4 p-0">Total</div>
              </div>
              <div class="row m-0 p-0" *ngFor="let item of products$ | async">
                <div class="col-8 p-0 pr-2 mb-1">{{ item.model }} {{ item.productDetails.color | titlecase }}</div>
                <div class="col-4 p-0">{{ item.total | currency }}</div>
              </div>
              <div class="row m-0 p-0 pt-2 mt-2 bt-ordem-review" *ngIf="voucher > 0">
                <div class="col-8 p-0 pr-2 mb-1">Cupom de Desconto</div>
                <div class="col-4 p-0">- {{ voucher | currency }}</div>
              </div>
              <div class="row m-0 p-0" [class]="voucher === 0 ? 'pt-2 mt-2 bt-ordem-review' : ''">
                <div class="col-8 p-0 pr-2 mb-1">Frete</div>
                <div class="col-4 p-0">{{ shipment | currency }}</div>
              </div>
              <div class="row m-0 p-0 total-order">
                <div class="col-8 p-0 pr-2 mb-1">Valor Total</div>
                <div class="col-4 p-0">{{ total | currency }}</div>
              </div>
            </div>
            <div class="footer-order pt-2 pb-2">
              <button class="btn btn-finish-shopping mt-3" (click)="goToPayment()"
                      [disabled]="!isLogged || !this.formGoToPayment.valid">Ir para o pagamento
              </button>
            </div>
          </div>
          <div *ngIf="formGoToPayment?.get('shipmentId')?.value">
            <h1 class="page-title ml-3 mb-3 mb-lg-4">Frete</h1>
            <div class="row p-0 m-0">
              <div class="col-12 mb-3" *ngFor="let result of shippingResult">
                <input class="form-check-input" type="radio" formControlName="shipment" name="shipment"
                       id="shipment{{ result.id }}"
                       [value]="result.price" (change)="changePriceShipment()">
                <label class="form-check-label" for="shipment{{ result.id }}">
              <span class="img-shipping">
                <img [src]="result.company.picture">
              </span>
                  <span class="m-1">
                até {{ result.delivery_range.max }} dias úteis - {{ result?.price | currency }} ({{result.name}})
              </span>
                </label>
              </div>
            </div>

            <div class="alert alert-warning" role="alert" *ngIf="notShipResult">
              Ops! Não foi possível calcular o frete para este CEP.
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="errorShipResult">
              Ops, ocorreu um erro! Não foi possível buscar o CEP.
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<swal
  #error
  [title]="''"
  [text]="''"
  [confirmButtonText]="''"
  [cancelButtonText]="'cancelar'"
  (cancel)="redirect()"
  [showCancelButton]="true"
  icon="error">
</swal>

<swal
  [swalOptions]="{ confirmButtonText: 'ok'}"
  (confirm)="redirect()"
  #success
  [title]="''"
  icon="success">
</swal>
