<div class="w-100 container-account-menu">
  <div class="container-user-name">
    <h3 class="user-name">{{ customer?.name }} {{ customer?.lastName }}</h3>
  </div>
  <ul class="items-menu-account">
    <li routerLink="/minha-conta/meus-pedidos" routerLinkActive="active-item-menu"><a>Meus Pedidos</a></li>
    <li routerLink="/minha-conta/meus-dados" routerLinkActive="active-item-menu"><a>Meus Dados</a></li>
    <li routerLink="/minha-conta/enderecos" routerLinkActive="active-item-menu"><a>Endereços</a></li>
    <!-- <li routerLink="/minha-conta/favoritos" routerLinkActive="active-item-menu"><a>Favoritos</a></li> -->
  </ul>
  <div class="container-logout" (click)="logout()">
    <a>Sair <i class="fas fa-sign-out-alt ml-1"></i></a>
  </div>
</div>
