<div class="card m-3 " *ngIf="betterSend">
  <div class="card-body w-100">
    <h5 class="card-title">Melhor envio</h5>

    <div class="alert "
         [ngClass]="{
        'alert-success': betterSend.status === status.VALID,
        'alert-warning': betterSend.status === status.EXPIRED,
        'alert-danger': betterSend.status === status.INVALID,
        'alert-info': betterSend.status === status.UNCREATED

      }" role="alert">
      {{message}}
    </div>

    <a
      [href]="url"
      target="_blank"
      class="btn btn-primary"
      *ngIf="betterSend.status !== status.VALID">
      {{textButton}}
    </a>
  </div>
</div>
