<div class="container-fluid container-product-listing">
  <div id="button-filters">Filtros
    <button class="btn" data-toggle="modal" data-target="#filters-modal"><i class="fas fa-filter"></i></button>
  </div>
  <app-filters *ngIf="!isMobile" id="filters-component"></app-filters>

  <div class="alert alert-danger m-3 ml-md-3 mr-md-3" role="alert" *ngIf="hasError">
    Ops! Não foi possível exibir os produtos. Por favor, <span class="alert-link"
                                                               (click)="ngOnInit()">tente novamente</span> mais tarde.
  </div>
  <div class="alert alert-warning m-3 ml-md-3 mr-md-3" role="alert" *ngIf="productDetailsTO.length === 0 && !hasError">
    Não foram encontrados produtos.
  </div>

  <div class="row m-0" *ngIf="productDetailsTO.length > 0 && !hasError">
    <!--produto começa aqui-->
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 p-0" *ngFor="let productDetails of productDetailsTO">
      <div class="m-3 ml-md-3 mr-md-3 product"
           (click)="goToProductDetails(productDetails.id, productDetails.productId)"
           routerLink="/produtos/{{ productDetails.id }}">
        <div class="product-content">
          <div class="product-image">
            <div class="badge-product" *ngIf="verifyDate(productDetails?.creationDate)"><span>Novo</span></div>
            <div class="badge-product badge-sale"
                 [class.second-sale]="productDetails.sale && verifyDate(productDetails?.creationDate)"
                 *ngIf="productDetails.sale"><span>{{ productDetails.sale.percentage }}%</span>
            </div>
            <!--<a class="product-favorite"><i class="far fa-heart"></i></a>-->
            <img src="{{productDetails.images.split(';')[0]}}" class="w-100">
            <a class="image-overlay"></a>
          </div>
          <div class="product-detail pt-2">
            <a class="product-description">{{ productDetails?.product?.model }}</a>
            <p class="product-categories mb-0">
              <a
                (click)="goToProductListing(productDetails?.product?.brand?.name?.toLowerCase())">{{ productDetails?.product?.brand?.name | titlecase }}</a>,
              <a>{{ productDetails?.color | titlecase }}</a>
              <span *ngIf="productDetails?.sale && productDetails?.price"><del>{{ productDetails.price | currency }}</del>
                {{ productDetails.price * (100 - productDetails.sale.percentage) / 100 | currency }}</span>
              <span *ngIf="!productDetails?.sale">{{ productDetails?.price | currency }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="mt-4" aria-label="Page navigation" *ngIf="content && productDetailsTO.length > 0">
    <ul class="pagination justify-content-end">
      <li class="page-item" [ngClass]="{'disabled': this.paginationService.page === 0}">
        <a class="page-link" (click)="updateIndex(this.paginationService.page-1)">
          <i class="fas fa-angle-left"></i>
        </a>
      </li>
      <li class="page-item active" [ngClass]="{ 'active': i == this.paginationService.page }"
          *ngFor="let i of this.paginationService.getRange(); let in = index">
        <a class="page-link" (click)="updateIndex(i)">{{i + 1}}</a>
      </li>
      <li class="page-item"
          [ngClass]="{'disabled': (this.paginationService.page  + 1) === this.paginationService.pages }">
        <a class="page-link" (click)="updateIndex(this.paginationService.page + 1)">
          <i class="fas fa-angle-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>


<!-- Modal de filtros -->
<div class="modal fade" id="filters-modal" tabindex="-1" aria-labelledby="filters-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filtrar por</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <app-filters *ngIf="isMobile"></app-filters>
      </div>
      <button type="button" class="btn btn-primary btn-filter">Filtrar</button>

    </div>
  </div>
</div>
