<div class="container-fluid p-0">
  <h1 class="page-title mb-3 mb-lg-4">Meus Pedidos</h1>

  <div class="row p-0 m-0 mb-2 title-table-orders">
    <div class="col-2">Pagamento</div>
    <div class="col-3">Pedido</div>
    <div class="col-2">Data</div>
    <div class="col-2">Qtde</div>
    <div class="col-2">Total</div>
    <div class="col-1"></div>
  </div>

  <div class="accordion" id="myOrders">
    <div class="card mb-2 accordion-button" *ngFor="let item of listMyOrders">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left row p-0 m-0 title-orders" type="button" data-toggle="collapse"
                  id="button{{ item }}" (click)="changeStatusCollpse(collapse)" aria-expanded="true">
            <div class="row">
              <div class="col-2">Aprovado</div>
              <div class="col-3">64663b98</div>
              <div class="col-2">29/07/2021</div>
              <div class="col-2">11 itens</div>
              <div class="col-2">{{ '150' | currency }}</div>
              <div class="col-1"><i class="fas fa-angle-down"></i></div>
            </div>
          </button>
        </h2>
      </div>

      <div id="collapse{{ item }}" #collapse class="collapse" aria-labelledby="headingOne" data-parent="#myOrders">
        <div class="card-body">
          Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code>
          class.
        </div>
      </div>
    </div>
  </div>

  <nav class="mt-4" aria-label="Page navigation" *ngIf="content && listMyOrders.length > 0">
    <ul class="pagination justify-content-end">
      <li class="page-item" [ngClass]="{'disabled': this.paginationService.page === 0}">
        <a class="page-link" (click)="updateIndex(this.paginationService.page-1)">
          <i class="fas fa-angle-left"></i>
        </a>
      </li>
      <li class="page-item active" [ngClass]="{ 'active': i == this.paginationService.page }"
          *ngFor="let i of this.paginationService.getRange(); let in = index">
        <a class="page-link" (click)="updateIndex(i)">{{i + 1}}</a>
      </li>
      <li class="page-item"
          [ngClass]="{'disabled': (this.paginationService.page  + 1) === this.paginationService.pages }">
        <a class="page-link" (click)="updateIndex(this.paginationService.page + 1)">
          <i class="fas fa-angle-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
