<!-- <div class="d-flex flex-row-reverse wrapper" [class.toggled]="isSidebarOpened"> -->

 <!-- Sidebar -->
  <div class="bg-light border-right sidebar-wrapper" [class.active]="isSidebarOpened">
    <div class="search-header">
      <input class="form-control" type="search" [(ngModel)]="search" placeholder="PESQUISAR..." (keyup.enter)="searchProducts()" aria-label="Search">
      <button (click)="searchProducts()"><i class="fas fa-search"></i></button>
    </div>
    <app-menu-items></app-menu-items>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div class="page-content-wrapper active" [class.active]="isSidebarOpened">

    <header>
      <app-header></app-header>
      <app-nav-bar></app-nav-bar>
    </header>

    <main (click)="checkSidebarIsOpen()">
      <router-outlet></router-outlet>
    </main>

    <footer>
      <app-social-media></app-social-media>
      <app-footer></app-footer>
    </footer>
  </div>

<!-- whatsapp -->
<div class="background-wpp"></div>
<a class="whatsapp-position" target="_blank" href="https://{{isMobile() ? 'api.whatsapp.com' : 'web.whatsapp.com'}}/send?phone=+5511957466088&text=Olá, Gabriel! Poderia me ajudar?">
  <i class="fab fa-whatsapp-square fa-4x"></i>
</a>
<!-- Modal esqueci minha senha -->
<app-forgot-password></app-forgot-password>

<!-- Modal guia de tamanhos -->
<app-size-guide></app-size-guide>
