<form>

  <div class="row mt-3">
    <div class="col-lg-8 col-sm-12 mb-3 mb-lg-0">
      <input type="text" class="form-control" placeholder="Nome do produto" aria-label="" aria-describedby="basic-addon1">
    </div>
    <div class="col-lg-2 col-sm-12 mb-3 mb-lg-0">
      <button type="button" class="btn btn-secondary w-100">Cancelar</button>
    </div>
    <div class="col-lg-2 col-sm-12 mb-3 mb-lg-0">
      <button type="button" class="btn btn-primary w-100">Salvar</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-8 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Imagens e vídeos</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>

</form>

