<div class="d-flex justify-content-between m-3">
  <div>
    <h3>Subcategorias</h3>
  </div>
  <div>
    <button type="button" class="btn btn-primary" routerLink="nova-sub-categoria"> + Nova Subcategoria</button>
  </div>

</div>
<form [formGroup]="formFilter">
  <div class="container-fluid">

    <div class="row">
      <div class="form-group col-lg-3 col-sm-12 mb-3 mb-lg-0">
        <label for="filter">Sexo</label>
        <select class="form-control" id="sexo" formControlName="gender" (change)="onChangeFilter()">
          <option ></option>
          <option value="MALE">MASCULINO</option>
          <option value="FEMALE">FEMININO</option>
          <option value="BOTH">AMBOS</option>
        </select>
      </div>
      <div class="form-group col-lg-3 col-sm-12 mb-3 mb-lg-0">
        <label for="filter">Disponível na loja</label>
        <select class="form-control" id="filter" formControlName="status" (change)="onChangeFilter()">
          <option ></option>
          <option value="true">Ativo</option>
          <option value="false">Inativo</option>
        </select>
      </div>
      <div class="form-group col-lg-6 col-sm-12 mb-3 mb-lg-0">
        <label for="name">Pesquisar</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="name" placeholder="Shorts" aria-label="Shorts"
                 aria-describedby="basic-addon2" formControlName="name">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="onChangeFilter()"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="alert alert-warning mr-3 ml-3" role="alert" *ngIf="categories.length === 0 && !hasError">
  Não encontramos nenhuma subcategoria.
</div>
<div class="alert alert-danger mr-3 ml-3" role="alert" *ngIf="hasError">
  Não foi possível carregar algumas informações. Por favor,
  <div class="alert-link" (click)="ngOnInit()">tente novamente.</div>
</div>
<div class="card mb-3 mr-3 ml-3" *ngIf="categories.length > 0">
  <div class="table-responsive ">

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" style="width: 40%">Nome</th>
        <th scope="col" style="width: 20%">Sexo</th>
        <th scope="col" style="width: 15%">No site</th>
        <th scope="col" style="width: 15%">No menu</th>
        <th scope="col" style="width: 10%">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row-table" *ngFor="let c of categories; let i = index" routerLink="sub-categoria/{{c.id}}">
        <td>{{c.name}}</td>
        <td>{{mapGender.get(c.gender)}}</td>
        <td [ngClass]="{
        'text-success': c.status,
        'text-secondary': !c.status
        }"><b>{{c.status ? 'Ativo' : 'Inativo'}}</b></td>
        <td [ngClass]="{
        'text-success': c.onMenu,
        'text-secondary': !c.onMenu
        }"><b>{{c.onMenu ? 'Ativo' : 'Inativo'}}</b></td>
        <td><i class="fas fa-edit text-primary"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<nav aria-label="Page navigation example" *ngIf="content && categories.length > 0">
  <ul class="pagination justify-content-end mr-3 ml-3">
    <li class="page-item" [ngClass]="{'disabled': paginationService.page === 0}">
      <a class="page-link" tabindex="-1" aria-disabled="true"
         (click)="updateIndex(paginationService.page-1)">Previous</a>
    </li>
    <li class="page-item" [ngClass]="{'active': i == paginationService.page}"
        *ngFor="let i of paginationService.getRange(); let in = index"
    >
      <a class="page-link" (click)="updateIndex(i)">{{i + 1}}</a>
    </li>
    <li class="page-item" [ngClass]="{'disabled': (paginationService.page + 1) === paginationService.pages }">
      <a class="page-link" (click)="updateIndex(paginationService.page + 1)">Next</a>
    </li>
  </ul>
</nav>
