.bg-orange-crayola {
  background-color: #F37135;
}

.title-footer {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
  color: #2b2828;
  line-height: 1.8em;
}

.title-footer a {
  text-decoration: none;
  color: #2b2828;
}

.text-footer {
  font-size: 14px;
  color: #fff;
}
