<form [formGroup]="formCategorie">

  <div class="row mt-3">
    <div class="col-lg-8 col-sm-12 mb-3 mb-lg-0">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/painel/categorias">Categorias</a></li>
          <li class="breadcrumb-item active" aria-current="page">Nova Categoria</li>
        </ol>
      </nav>
    </div>
    <div class="col-lg-2 col-sm-12 mb-3 mb-lg-0">
      <button type="button" class="btn btn-secondary w-100">Cancelar</button>
    </div>
    <div class="col-lg-2 col-sm-12 mb-3 mb-lg-0">
      <button type="button" class="btn btn-primary w-100">Salvar</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Informações da Categoria</h5>
          <hr>
          <div class="form-row">
            <div class="form-group col-12 mb-3">
              <label for="categorieName">Nome da Categoria</label>
              <input type="text" class="form-control" formControlName="name" id="categorieName"
                     aria-describedby="emailHelp"
                     placeholder="ex: Camiseta Chicago Bulls">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="isShowOnStore">
        <label class="form-check-label" for="isShowOnStore">
          Disponível na loja
        </label>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 mb-3">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-9 col-sm-12">
              <h5 class="card-title">Tipos de categoria</h5>
            </div>
            <div class="col-lg-3 col-sm-12 ">
              <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#typeCategorie">
                Adicionar Tipo
              </button>
            </div>
          </div>

          <hr>
          <div class="card mb-3">
            <div class="table-responsive ">

              <table class="table table-hover">
                <thead>
                <tr>
                  <th scope="col" style="width: 15%">Código</th>
                  <th scope="col" style="width: 50%">Nome</th>
                  <th scope="col" style="width: 10%">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr class="row-table" *ngFor="let i of type.controls" routerLink="/painel/produtos/produto/{{i}}">
                  <th scope="row">####</th>
                  <td>{{i}}</td>
                  <td>
                    <i class="fas fa-edit actions-button text-primary"></i>
                    <i class="fas fa-trash actions-button text-danger" [swal]="swal1"></i>
                    <swal
                      [swalOptions]="{ confirmButtonText: 'Sim', cancelButtonText: 'Cancelar' }"
                      [showCancelButton]="true"
                      (confirm)="removeProduct(i)"
                      #swal1 title="Tem certeza que deseja remover esse produto da categoria?"
                      icon="question">
                    </swal>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 mb-3">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-9 col-sm-12">
              <h5 class="card-title">Produtos na Categoria</h5>
            </div>
            <div class="col-lg-3 col-sm-12 ">
              <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#exampleModal">
                Adicionar Produtos
              </button>
            </div>
          </div>

          <hr>
          <div class="card mb-3">
            <div class="table-responsive ">

              <table class="table table-hover">
                <thead>
                <tr>
                  <th scope="col" style="width: 15%">Código</th>
                  <th scope="col" style="width: 50%">Nome</th>
                  <th scope="col" style="width: 15%">Modelo</th>
                  <th scope="col" style="width: 10%">Tamanho</th>

                  <th scope="col" style="width: 10%">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr class="row-table" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10]"
                    routerLink="/painel/produtos/produto/{{i}}">
                  <th scope="row">{{i}}</th>
                  <td>Camisa</td>
                  <td>black</td>

                  <td>{{i * 2}}</td>
                  <td>
                    <i class="fas fa-edit actions-button text-primary"></i>
                    <i class="fas fa-trash actions-button text-danger" [swal]="swal1"></i>
                    <swal
                      [swalOptions]="{ confirmButtonText: 'Sim', cancelButtonText: 'Cancelar' }"
                      [showCancelButton]="true"
                      (confirm)="removeProduct(i)"
                      #swal1 title="Tem certeza que deseja remover esse produto da categoria?"
                      icon="question">
                    </swal>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end  mr-3 ml-3">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Promoções</h5>
      <hr>
      <div class="card-link">
        <i class="fas fa-ticket-alt p-1" style="color: cornflowerblue"></i><a href="#">Criar cupom de desconto</a>
      </div>
    </div>
  </div>
</form>

<form [formGroup]="formCategorieList">
  <div class="modal fade" id="typeCategorie" tabindex="-1" aria-labelledby="typeCategorielLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="typeCategorie">
            Escolha o tipos de categoria
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 500px">
          <div  formArrayName="typelist" class="row item-product mb-3" *ngFor="let type of typeList.controls; let i = index">
            <div class="col-3">
            </div>
            <div class="col-5 mt-lg-2 mt-sm-1">
              <div class="row">
                <div class="col-12">
                  {{type.value.type}}
                </div>
              </div>
            </div>
            <div class="col-0 mt-3 ml-5">
              <div class="form-check" [formGroupName]="i">
                <input class="form-check-input" type="checkbox" name="checked" formControlName="checked">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="addTypeListCategorie()">Adicionar</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Adicionar produtos a esta categoria
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 500px">
        <div class="row item-product mb-3" *ngFor="let i of [0,1,2,3,4,5,6,7,9]">
          <div class="col-4">
            <img src="./assets/images/nike.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-5 mt-lg-2 mt-sm-1">
            <div class="row">
              <div class="col-12">
                Camiseta Nike {{i}}
              </div>
              <div class="col-12">
                Código: 111111
              </div>
            </div>
          </div>
          <div class="col-0 mt-3 ml-5">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="produto">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Adicionar</button>
      </div>
    </div>
  </div>
</div>
