.row-table:hover{
  cursor: pointer;
}
.actions-button{
  margin-right: 10px;
}
.actions-button:hover{
  cursor: pointer;
  transition: all .2s linear;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
