<form [formGroup]="formCategorie">

  <div class="row mt-3">
    <div class="col-lg-8 col-sm-12 mb-3 mb-lg-0">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/painel/categorias">Categorias</a></li>
          <li class="breadcrumb-item active" aria-current="page">Nova Categoria</li>
        </ol>
      </nav>
    </div>
    <div class="col-lg-2 col-sm-12 mb-3 mb-lg-0">
      <button type="button" class="btn btn-secondary w-100">Cancelar</button>
    </div>
    <div class="col-lg-2 col-sm-12 mb-3 mb-lg-0">
      <button
        type="button"
        class="btn btn-primary w-100"
        [disabled]="formCategorie.invalid"
        (click)="save()">
        Salvar
      </button>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="hasError">
    Não foi possível carregar algumas informações. Por favor,
    <div class="alert-link" (click)="ngOnInit()">tente novamente.</div>
  </div>

  <div *ngIf="!hasError">
    <div class="row mt-3">
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Informações da Categoria</h5>
            <hr>
            <div class="form-row">
              <div class="form-group col-12 mb-3">
                <label for="categorieName">Nome da Categoria</label>
                <input type="text" class="form-control" formControlName="name" id="categorieName"
                       aria-describedby="emailHelp"
                       placeholder="ex: Camiseta Chicago Bulls"
                       [ngClass]="{ 'is-invalid': validateFields.name.errors && validateFields.name.touched }">
                <div id="field-name" class="invalid-feedback" *ngIf="validateFields.name?.errors?.required">
                  Por favor, insira o nome da categoria.
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" *ngIf="categorie?.id">
      <div class="card-body">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="isShowOnStore" formControlName="status">
          <label class="form-check-label" for="isShowOnStore">
            Disponível na loja
          </label>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 mb-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-9 col-sm-12">
                <h5 class="card-title">Tipos de categoria</h5>
              </div>
              <div class="col-lg-3 col-sm-12 ">
                <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#typeCategorie"
                        (click)="loadCategorieOnList()">
                  Adicionar Tipo
                </button>
              </div>
            </div>

            <hr>
            <div class="alert alert-warning mr-3 ml-3" role="alert" *ngIf="type.controls.length === 0">
              Essa categoria não possui nenhum tipo de categoria. Por favor, adicione um tipo.
            </div>
            <div class="card mb-3" *ngIf="type.controls.length > 0">
              <div class="table-responsive ">

                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col" style="width: 80%">Nome</th>
                    <th scope="col" style="width: 20%">Ações</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="row-table" *ngFor="let categorie of type.controls; let i = index">
                    <td>{{categorie.value | titlecase}}</td>
                    <td>
                      <i class="fas fa-edit actions-button text-primary" data-toggle="modal"
                         data-target="#typeCategorie"
                         (click)="loadCategorieOnList()"></i>
                      <i class="fas fa-trash actions-button text-danger" [swal]="swalCategorieExcluir"></i>
                      <swal
                        [swalOptions]="{ confirmButtonText: 'Sim', cancelButtonText: 'Cancelar' }"
                        [showCancelButton]="true"
                        (confirm)="removeTypeCategorie(i)"
                        #swalCategorieExcluir title="Tem certeza que deseja remover esse tipo de categoria"
                        icon="question">
                      </swal>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3" *ngIf="categorie?.id">
      <div class="col-12 mb-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-9 col-sm-12">
                <h5 class="card-title">Produtos na Categoria</h5>
              </div>
              <div class="col-lg-3 col-sm-12 ">
                <button type="button" (click)="getAllProducts()" class="btn btn-primary w-100" data-toggle="modal"
                        data-target="#exampleModal">
                  Adicionar Produtos
                </button>
              </div>
            </div>

            <hr>
            <div class="alert alert-warning mr-3 ml-3" role="alert"
                 *ngIf="content && products.length === 0 && !hasError">
              Não existe nenhum produto cadastrado nessa categoria.
            </div>
            <div class="card mb-3" *ngIf="content && products.length > 0 && !hasError">
              <div class="table-responsive ">

                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col" style="width: 80%">Modelo</th>

                    <th scope="col" style="width: 20%">Ações</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="row-table" *ngFor="let c of products; let i = index"
                      routerLink="/painel/produtos/produto/{{i}}">
                    <td>{{c.model}}</td>

                    <td>
                      <i class="fas fa-eye actions-button text-primary" routerLink="/painel/produtos/produto/{{c.id}}"></i>
                      <i class="fas fa-trash actions-button text-danger" [swal]="swal1"></i>
                      <swal
                        [swalOptions]="{ confirmButtonText: 'Sim', cancelButtonText: 'Cancelar' }"
                        [showCancelButton]="true"
                        (confirm)="removeProduct(c.id)"
                        #swal1 title="Tem certeza que deseja remover esse produto da categoria?"
                        icon="question">
                      </swal>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <nav aria-label="Page navigation example" *ngIf="content && products.length > 0">
              <ul class="pagination justify-content-end mr-3 ml-3">
                <li class="page-item" [ngClass]="{'disabled': paginationService.page === 0}">
                  <a class="page-link" tabindex="-1" aria-disabled="true"
                     (click)="updateIndex(paginationService.page-1)">Previous</a>
                </li>
                <li class="page-item" [ngClass]="{'active': i == paginationService.page}"
                    *ngFor="let i of paginationService.getRange(); let in = index"
                >
                  <a class="page-link" (click)="updateIndex(i)">{{i + 1}}</a>
                </li>
                <li class="page-item"
                    [ngClass]="{'disabled': (paginationService.page + 1) === paginationService.pages }">
                  <a class="page-link" (click)="updateIndex(paginationService.page + 1)">Next</a>
                </li>
              </ul>
            </nav>

          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" *ngIf="categorie?.id">
      <div class="card-body">
        <h5 class="card-title">Excluir categoria</h5>
        <hr>
        Ao exclui-lá ela será apagada definitivamente e não aparecerá mais em sua loja.
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-danger col-lg-2 col-sm-12" (click)="delete()">Excluir</button>
        </div>
      </div>

    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Promoções</h5>
        <hr>
        <div class="card-link">
          <i class="fas fa-ticket-alt p-1" style="color: cornflowerblue"></i><a href="#">Criar cupom de desconto</a>
        </div>
      </div>
    </div>
  </div>


</form>

<form [formGroup]="formCategorieList">
  <div class="modal fade" id="typeCategorie" tabindex="-1" aria-labelledby="typeCategorielLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="typeCategorie">
            Escolha o tipos de categoria
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 500px">
          <div formArrayName="typelist" class="row item-product mb-3"
               *ngFor="let type of typeList.controls; let i = index">
            <div class="col-3">
            </div>
            <div class="col-5 mt-lg-2 mt-sm-1">
              <div class="row">
                <div class="col-12">
                  {{type.value.type | titlecase}}
                </div>
              </div>
            </div>
            <div class="col-0 mt-3 ml-5">
              <div class="form-check" [formGroupName]="i">
                <input class="form-check-input" type="checkbox" name="checked" formControlName="checked">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addTypeListCategorie()">
            Adicionar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Adicionar produtos a esta categoria
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 500px">
        <div class="row" *ngIf="filteredProducts.length !== 0 && !hasError">
          <div class="form-group col-lg-12 col-sm-12 mb-3 mb-lg-0">
            <label for="name">Filtrar</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="name" placeholder="Camiseta Leblon James"
                     aria-label="Camiseta Leblon James"
                     aria-describedby="basic-addon2" [(ngModel)]="searchProduct">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="filterProductsList()"><i
                  class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="alert alert-warning mr-3 ml-3" role="alert" *ngIf="filteredProducts.length === 0 && !hasError">
          Não existe nenhum produto cadastrado ou os produtos já estão cadastrados nessa categoria.
        </div>
        <form [formGroup]="formProductFilter">
          <div class="row item-product mb-3" formArrayName="products"
               *ngFor="let c of filterProductsList(); let i = index">
            <div class="col-4">
              <img src="./assets/images/nike.jpg" class="card-img-top" alt="...">
            </div>
            <div class="col-5 mt-lg-2 mt-sm-1">
              <div class="row">
                <div class="col-12">
                  {{c.value.model}}
                </div>
              </div>
            </div>
            <div class="col-0 mt-3 ml-5">
              <div class="form-check" [formGroupName]="i">
                <input class="form-check-input" formControlName="checked" type="checkbox">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer" *ngIf="filteredProducts.length !== 0 && !hasError">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="addProductsCategory()">
          Adicionar
        </button>
      </div>
    </div>
  </div>
</div>
<swal
  [swalOptions]="{ confirmButtonText: 'ok'}"
  (confirm)="redirect()"
  #success
  [title]="''"
  icon="success">
</swal>
<swal
  #error
  [title]="''"
  [text]="''"
  [confirmButtonText]="''"
  [cancelButtonText]="'cancelar'"
  (cancel)="redirect()"
  [showCancelButton]="true"
  icon="error">
</swal>
