<!--<div class="container-fluid">-->
<div class="d-flex justify-content-between m-3">
  <div>
    <h3>Produtos</h3>
  </div>
  <div>
    <button type="button" class="btn btn-primary" routerLink="novo-produto"> + Novo produto</button>
  </div>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="form-group col-lg-3 col-sm-12 mb-3 mb-lg-0">
      <label for="categorie">Categoria</label>
      <select class="form-control" id="categorie">
        <option value="1">Acessórios</option>
        <option value="2">Camisetas</option>
        <option value="3">Shorts</option>
      </select>
    </div>
    <div class="form-group col-lg-3 col-sm-12 mb-3 mb-lg-0">
      <label for="filter">Filtrar</label>
      <select class="form-control" id="filter">
        <option value="1">Em estoque</option>
        <option value="2">Ativo na loja</option>
      </select>
    </div>
    <div class="form-group col-lg-6 col-sm-12 mb-3 mb-lg-0">
      <label for="name">Pesquisa</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="name" placeholder="Camiseta Leblon James" aria-label="Camiseta Leblon James"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="card mb-3 mr-3 ml-3">
  <div class="table-responsive ">

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Modelo</th>
        <th scope="col">Preço</th>
        <th scope="col">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr scope="row" class="row-table" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10]" routerLink="novo-produto">
        <th >{{i}}</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><i class="fas fa-edit text-primary"></i></td>

      </tr>
      </tbody>
    </table>
  </div>
</div>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<!--</div>-->
