<!--<div class="container-fluid">-->
<div class="d-flex justify-content-between mt-3">
  <div>
    <h3>Produtos</h3>
  </div>
  <div>
    <button type="button" class="btn btn-primary" routerLink="novo-produto"> + Novo produto</button>
  </div>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-sm-12 mb-3 mb-lg-0">

      <select class="form-control">
        <option>Categoria</option>
      </select>
    </div>
    <div class="input-group col-lg-3 col-sm-12 mb-3 mb-lg-0">
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Filtro</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-lg-6 col-sm-12 mb-3 mb-lg-0">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Camiseta Leblon James" aria-label="Camiseta Leblon James"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="card mb-3">
  <div class="table-responsive ">

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<!--</div>-->
