<div class="d-flex justify-content-between m-3">
  <div>
    <h3>Produtos</h3>
  </div>
  <div>
    <button type="button" class="btn btn-primary" routerLink="novo-produto"> + Novo produto</button>
  </div>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="form-group col-lg-3 col-sm-12 mb-3 mb-lg-0">
      <label for="categorie">Categoria</label>
      <select class="form-control" id="categorie">
        <option value="1">Acessórios</option>
        <option value="2">Camisetas</option>
        <option value="3">Shorts</option>
      </select>
    </div>
    <div class="form-group col-lg-3 col-sm-12 mb-3 mb-lg-0">
      <label for="filter">Filtrar</label>
      <select class="form-control" id="filter">
        <option value="1">Em estoque</option>
        <option value="2">Ativo na loja</option>
      </select>
    </div>
    <div class="form-group col-lg-6 col-sm-12 mb-3 mb-lg-0">
      <label for="name">Pesquisa</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="name" placeholder="Camiseta Leblon James" aria-label="Camiseta Leblon James"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="alert alert-warning mr-3 ml-3" role="alert" *ngIf="products.length === 0 && !hasError">
  Não encontramos nenhum produto.
</div>
<div class="alert alert-danger mr-3 ml-3" role="alert" *ngIf="hasError">
  Não foi possível carregar algumas informações. Por favor, <div class="alert-link" (click)="ngOnInit()">tente novamente.</div>
</div>
<div class="card mb-3 mr-3 ml-3" *ngIf="products.length > 0">
  <div class="table-responsive ">

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Modelo</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr scope="row" class="row-table" *ngFor="let p of products; let i = index" routerLink="produto/{{p.id}}">
        <td>{{p.model}}</td>
        <td [ngClass]="{
        'text-success': p.status,
        'text-secondary': !p.status
        }"><b>{{p.status ? 'Ativo' : 'Inativo'}}</b></td>
        <td><i class="fas fa-edit text-primary"></i></td>

      </tr>
      </tbody>
    </table>
  </div>
</div>


<nav aria-label="Page navigation example" *ngIf="content && products.length > 0">
  <ul class="pagination justify-content-end mr-3 ml-3">
    <li class="page-item" [ngClass]="{'disabled': paginationService.page === 0}">
      <a class="page-link" tabindex="-1" aria-disabled="true" (click)="updateIndex(paginationService.page-1)">Previous</a>
    </li>
    <li class="page-item" [ngClass]="{'active': i == paginationService.page}"
        *ngFor="let i of paginationService.getRange(); let in = index"
    >
      <a class="page-link" (click)="updateIndex(i)">{{i + 1}}</a>
    </li>
    <li class="page-item" [ngClass]="{'disabled': (paginationService.page + 1) === paginationService.pages }">
      <a class="page-link" (click)="updateIndex(paginationService.page + 1)">Next</a>
    </li>
  </ul>
</nav>
<swal
  [swalOptions]="{ confirmButtonText: 'ok'}"
  #warn
  [title]="''"
  [text]="''"
  (confirm)="redirectTo()"
  icon="warning">
</swal>
