<div class="container-fluid pbt-product pl-xl-5 pr-xl-5">
  <div>
    <h3 class="nz-store-title" data-mask="NZ Store">NZ Store</h3>
  </div>
  <div>
    <ul class="nz-store-filter pl-0 text-left text-md-right">
      <li class="current"><a href="#" data-filter="*">Todos <sup>8</sup></a></li>
      <li><a href="#" data-filter=".nike">Nike <sup>1</sup></a></li>
      <li><a href="#" data-filter=".adidas">Adidas <sup>1</sup></a></li>
      <li><a href="#" data-filter=".men">Masculino <sup>1</sup></a></li>
      <li><a href="#" data-filter=".women">Feminino <sup>1</sup></a></li>
    </ul>
  </div>

  <div class="p-2">

  </div>
</div>

