<div id="slider-principal" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="rounded-bullets" data-target="#slider-principal" [attr.data-slide-to]="i"  class="{{i === 0 ? 'active' : ''}}" *ngFor="let banner of banners; let i = index"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item {{i === 0 ? 'active' : ''}}" *ngFor="let banner of banners; let i = index">
      <img [src]="banner" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
