<div class="container-fluid pt-4 pb-4 bg-raisin-black">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.facebook.com/artigos.nzesportes"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.instagram.com/nz_esportes/?hl=pt-br"><i class="fab fa-instagram"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://{{isMobile() ? 'api.whatsapp.com' : 'web.whatsapp.com'}}/send?phone=+5511957466088&text=Olá, Gabriel! Poderia me ajudar?"><i class="fab fa-whatsapp"></i></a>
    </li>
  </ul>
</div>

