li {
  display: block;
  float: none;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.menu-item {
  display: block;
  line-height: 30px;
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  z-index: 10;
  padding: 5px 20px;
  text-transform: uppercase;
  color: #2b2828;
}

.menu-item:hover {
  background-color: #e5e5e5;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  li {
    display: list-item;
    width: auto;
    float: none;
    border-bottom: 0;
  }

  .menu-item {
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    color: #2b2828;
    height: 30px;

    display: inline;
    z-index: auto;
  }

  .menu-item:hover {
    height: 30px;
    width: 100%;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    background-color: #F37135;
  }
}
