.coming-up-title {
  position: relative;
  z-index: 10;
  min-width: 100%;
  display: inline-block;
  font-weight: 700;
  color: #1d1d1d;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 20px;
}

.pbt-product {
  padding: 100px 10px;
}

.coming-up-title:before {
  content: attr(data-mask);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -4px;
  z-index: -1;
  font-weight: 700;
  font-size: 34px;
  line-height: 1em;
  color: #f4f4f4;
  letter-spacing: .08em;
}

.coming-up-filter li {
  display: inline-block;
  margin-right: 15px;
}

.coming-up-filter li > a {
  font-size: 12px;
  font-weight: 700;
  color: #2b2828;
  text-transform: uppercase;
  text-decoration: none;
}

.coming-up-filter li > a sup {
  font-size: 10px;
  font-weight: 500;
  color: #F37135;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.coming-up-filter li > a:hover {
  color: #F37135;
}

.coming-up-filter li:last-child {
  margin-right: 0;
}

.coming-up-filter li.current > a {
  color: #F37135;
}

.coming-up-filter li.current > a sup {
  visibility: visible;
  opacity: 1;
}

.product-content:hover:before {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.product-content:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-image {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}

.product {
  max-width: 480px;
  margin: 0 auto;
}

.product-description {
  font-size: 15px;
  font-weight: 700;
  color: #2b2828;
  line-height: 1.4em;
  text-decoration: none;
}

.product-description:hover {
  color: #F37135;
}

.product-categories {
  font-size: 14px;
  line-height: 1.5em;
}

.product-categories a {
  text-decoration: none;
  color: #2b2828;
}

.product-categories a:hover {
  color: #F37135;
  cursor: pointer;
}

.product-detail span {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 18px;
  color: #F37135;
  font-weight: 700;
}

.product-detail del {
  font-size: 14px;
  color: #bcbcbc;
}

.product-detail {
  position: relative;
}

.product-detail a:hover {
  cursor: pointer;
}

.badge-product {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 35px;
  z-index: 10;
  background-color: #2AC37D;
  border-radius: 0;
}

.badge-product span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 500;
  color: #efefef;
}

.badge-sale {
  top: 0px;
  background-color: #cf5050;
}

.second-sale {
  top: 50px;
  background-color: #cf5050;
}

.product-favorite:hover {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  background-color: #F37135;
}

.product-favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 10000;
  background-color: #4d4d4d;
  cursor: pointer;
}

.product-favorite i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
}

.filter-homepage {
  cursor: pointer;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .coming-up-title {
    min-width: 0;
    width: 100%;
    font-size: 20px;
    line-height: 60px;
  }
  .coming-up-title:before {
    font-size: 60px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .coming-up-title {
    display: block;
    font-size: 25px;
    line-height: 100px;
  }
  .coming-up-title:before {
    font-size: 70px;
  }

  .coming-up-filter li {
    margin-right: 50px;
  }

  .coming-up-filter li a {
    font-size: 16px;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .coming-up-title {
    min-width: 500px;
  }
  .coming-up-title:before {
    font-size: 80px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .coming-up-title {
    min-width: 1000px;

  }
  .coming-up-title:before {
    font-size: 100px;
  }
}
