<div class="container-fluid pbt-product pl-xl-5 pr-xl-5">
  <div>
    <h3 class="coming-up-title" data-mask="Lançamentos">Lançamentos</h3>
  </div>
  <div>
    <ul class="coming-up-filter pl-0 text-left text-md-right">
      <li class="filter-homepage" [ngClass]="true ? 'current' : ''">
        <a (click)="getAllDetails(8, 0)">Todos
          <sup>{{ productsDetails?.length }}</sup>
        </a>
      </li>
      <li class="filter-homepage">
        <a (click)="getAllDetails(8, 0, '', undefined, '', '', '', 'nike')">
          Nike <sup>1</sup>
        </a>
      </li>
      <li class="filter-homepage">
        <a (click)="getAllDetails(8, 0, '', undefined, '', '', '', 'adidas')">
          Adidas <sup>1</sup>
        </a>
      </li>
      <li class="filter-homepage">
        <a (click)="filter('MALE')">
          Masculino <sup>1</sup>
        </a>
      </li>
      <li class="filter-homepage">
        <a (click)="filter('FEMALE')">
          Feminino <sup>1</sup>
        </a>
      </li>
    </ul>
  </div>

  <div class="p-2">
    <div class="row">
      <!--produto começa aqui-->
      <div class="col-12 col-md-6 col-xl-3 p-0" *ngFor="let productDetails of productsDetails">
        <div class="m-3 ml-sm-auto mr-sm-auto ml-md-3 mr-md-3 product"
             (click)="goToProductDetails(productDetails.id, productDetails.productId)"
             routerLink="/produtos/{{ productDetails.id }}">
          <div class="product-content">
            <div class="product-image">
              <div class="badge-product" *ngIf="true"><span>Novo</span></div>
              <div class="badge-product badge-sale" [class.second-sale]="false && false" *ngIf="false"><span>35%</span>
              </div>
              <!--<a class="product-favorite"><i class="far fa-heart"></i></a>-->
              <img src="../../../../../assets/images/product.jpg" class="w-100">
              <a class="image-overlay"></a>
            </div>
            <div class="product-detail pt-2">
              <a href="#" class="product-description">{{ productDetails?.id }}</a>
              <p class="product-categories mb-0"><a href="#">{{ productDetails?.brand?.name | titlecase }}</a>, <a
                href="#">{{ productDetails?.color }}</a></p>
              <span><del *ngIf="false">R$ 150,00</del> R$ {{ productDetails?.price }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

