h1 {
  font-size: 30px;
  font-weight: 700;
  color: #313131;
  text-transform: uppercase;
  margin: 20px 0 0;
}

h2 {
  font-size: 26px;
  color: #000;
}

h2 del {
  font-size: 20px;
  color: #bcbcbc;
  margin: 20px 0 15px 5px;
}

.rating i {
  color: #ffb727;
}

.categories {
  color: #5b5b5b;
}

.categories a {
  text-decoration: none;
  color: #5b5b5b;
  font-size: 14px;
}

.categories a:hover {
  color: #f37135;
  cursor: pointer;
}

.title-details {
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
  color: #313131;
  border-bottom: 1px solid #e5e5e5;
  margin: 10px 0 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.description-details {
  font-size: 14px;
  line-height: 1.8em;
  color: #5b5b5b;
}

.choose-model {
  list-style: none;
  padding: 0;
  margin: 0;
}

.choose-model li {
  display: inline-block;
}

.choose-model li a {
  display: inline-block;
  width: 60px;
  border: 3px solid #e5e5e5;
  margin-right: 10px;
}

.choose-model li a:hover {
  border: 3px solid #f37135;
}

.choose-model li a img {
  max-width: 100%;
}

.container-size-qtde input, .container-size-qtde select {
  height: 50px;
  font-size: 16px;
  line-height: 1.4em;
  color: #5b5b5b;
  border: none;
  text-transform: uppercase;
  background-color: #e4e4e4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.cep input {
  background-color: #fff;
  border: 1px solid #2b2828;
  height: 50px;
  font-size: 16px;
  line-height: 1.4em;
  color: #5b5b5b;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.btn-add-cart {
  position: relative;
  display: inline-block;
  font-weight: 500;
  padding: 15px 30px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 60px;
  line-height: 25px;
  transition: all 0.4s ease;
  background-color: #F37135;
  border: 7px solid #ededed;
  color: #fff;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn-add-cart i {
  margin-left: 10px;
  font-size: 12px;
}

.btn-add-cart:hover {
  opacity: 0.90;
  color: #ededed;
}

.carousel-images {
  border: 3px solid #e5e5e5;
  margin-right: 10px;
}

.carousel-images:hover {
  border: 3px solid #f37135;
  cursor: pointer;
}

.container-review h2 {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  margin: 10px 0 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.review {
  margin-top: 40px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
}

.review:last-child {
  border-bottom: 0;
}

.review h3 {
  font-size: 16px;
  font-weight: 600;
}

.review .rating i {
  color: #2b2828;
  font-size: 12px;
}

.rated-by {
  font-size: 14px;
  color: #767677;
  font-weight: 500;
}

.page-item {
  margin-right: 15px;
}

.page-link {
  color: #f37135;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border: 3px solid #e5e5e5;
}

.page-link:hover {
  background-color: #f37135;
  color: #fff;
}

.page-item.active .page-link {
  background-color: #f37135;
  border: 3px solid #e5e5e5;
}

.page-link:first-child, .page-link:last-child {
  border-radius: 100%;
}
.img-shipping {
  img{
    max-width: 80px;

  }
}

.alert-pointer {
  cursor: pointer;
}

@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .btn-add-cart {
    font-size: 18px;
  }

  .btn-add-cart i {
    font-size: 14px;
  }
}
