<div class="container">
  <div class="row m-0 pt-5 pb-5">
    <div class="col-12 col-lg-6 pt-5">
      <div class="w-100 mb-3 zoomImage">
        <lib-ngx-image-zoom
          [thumbImage]="dynamicSlides[positionImage].thumb"
          [fullImage]="dynamicSlides[positionImage].fullImage"
          zoomMode="hover"
          [magnification]="0.5"
          [enableScrollZoom]="true"
        ></lib-ngx-image-zoom>
      </div>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of dynamicSlides; let i = index;">
          <ng-template carouselSlide id="{slide.id}">
            <!--produto começa aqui-->
            <div class="carousel-images">
              <img [src]="slide.thumb" (click)="changeImage(i)">
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <form class="col-12 col-lg-6 pt-5">
      <p class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <i class="far fa-star"></i>
      </p>
      <h1>AIR STRONG TRAINING</h1>
      <p class="categories"><a href="#">Marca</a>, <a href="#">Modelo</a>, <a href="#">Tag</a></p>
      <h2>R$ 123,00
        <del>R$ 150,00</del>
      </h2>
      <h3 class="title-details">Descrição</h3>
      <p class="description-details">
        Caramels tootsie roll carrot cake sugar plum. Sweet roll jelly bear claw liquorice. Gingerbread lollipop dragée
        cake. Pie topping jelly-o. Fruitcake dragée candy canes tootsie roll. Pastry jelly-o cupcake. Bonbon brownie
        soufflé muffin.
        Sweet roll soufflé oat cake apple pie croissant. Pie gummi bears jujubes cake lemon drops gummi bears croissant
        macaroon pie. Fruitcake tootsie roll chocolate cake Carrot cake cake bear claw jujubes topping cake apple pie.
        Jujubes gummi bears soufflé candy canes topping gummi bears cake soufflé cake. Cotton candy soufflé sugar plum
        pastry sweet roll.
      </p>
      <h3 class="title-details">Escolher Modelo</h3>
      <ul>
        <li>
          <a href="#">
            <img src="assets/images/product.jpg">
          </a>
          <a href="#">
            <img src="assets/images/product.jpg">
          </a>
          <a href="#">
            <img src="assets/images/product.jpg">
          </a>
          <a href="#">
            <img src="assets/images/product.jpg">
          </a>
        </li>
      </ul>

      <h3 class="title-details" for="inputSize">Escolher Tamanho</h3>
      <div class="row m-0 container-size-qtde">
        <div class="form-group col-9 p-0 pr-2">
          <select id="inputSize" class="form-control">
            <option selected>Tamanho...</option>
            <option>38</option>
            <option>39</option>
            <option>40</option>
          </select>
        </div>
        <div class="form-group col-3 p-0">
          <input type="number" class="form-control" [min]="1" [value]="1">
        </div>
        <div class="mt-3 text-center text-lg-left">
          <button type="button" class="btn btn-primary btn-add-cart">Adicionar ao carrinho<i class="fas fa-chevron-right"></i></button>
        </div>
      </div>
    </form>
    <div class="col-12 pt-5">
      <h2>Comentários</h2>
    </div>
  </div>
</div>
