.image-cart-preview {
  width: 60px;
  height: auto;
}

.cart-preview-content span {
  font-size: 14px;
}

.row-items {
  border-bottom: 1px solid #525a71;
}

.title-cart-preview {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5em;
  text-align: left;
  color: #fff;
}

.title-cart-preview:hover {
  text-decoration: none;
  color: #F37135;
}

.cart-preview-total p {
  text-align: left;
  font-size: 16px;
  line-height: 1.5em;
  color: #fff;
}

.cart-preview-total p span {
  float: right;
  font-weight: 600;
  letter-spacing: .05em;
}

.view-cart {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1em;
  cursor: pointer;
  background-color: #F37135;
  font-weight: 700;
  text-align: center;
}

.view-cart a {
  width: 100%;
  color: #fff;
}

.view-cart a:hover {
  text-decoration: none;
}
