<div class="cart-preview-content text-left">
  <!-- começa itens -->
  <div class="row m-0 pl-2 pr-2 pt-3 pb-3 row-items">
    <div class="col-auto p-0">
      <img class="image-cart-preview" src="assets/images/cart-preview.jpg">
    </div>
    <div class="col-auto p-0 pl-3">
      <a class="title-cart-preview" href="#">Jersey NBA Golden</a>
      <p class="m-0">
        <span>Quantidade: 10</span><br>
        <span>Total: R$ 1.500,00</span>
      </p>
    </div>
  </div>
  <!-- começa itens -->
  <div class="row m-0 pl-2 pr-2 pt-3 pb-3 row-items">
    <div class="col-auto p-0">
      <img class="image-cart-preview" src="assets/images/cart-preview.jpg">
    </div>
    <div class="col-auto p-0 pl-3">
      <a class="title-cart-preview" href="#">Jersey NBA Golden</a>
      <p class="m-0">
        <span>Quantidade: 10</span><br>
        <span>Total: R$ 1.500,00</span>
      </p>
    </div>
  </div>
  <!-- começa itens -->
  <div class="row m-0 pl-2 pr-2 pt-3 pb-3 row-items">
    <div class="col-auto p-0">
      <img class="image-cart-preview" src="assets/images/cart-preview.jpg">
    </div>
    <div class="col-auto p-0 pl-3">
      <a class="title-cart-preview" href="#">Jersey NBA Golden</a>
      <p class="m-0">
        <span>Quantidade: 10</span><br>
        <span>Total: R$ 1.500,00</span>
      </p>
    </div>
  </div>
</div>
<div class="cart-preview-total p-3">
  <p>Número de itens: <span>30</span></p>
  <p>Total: <span>R$ 4.500,00</span></p>
</div>
<div class="view-cart pr-3 pl-3 pt-4 pb-4">
  <a href="#">VER CARRINHO <i class="fas fa-arrow-right"></i></a>
</div>
