<div class="d-flex justify-content-between m-3">
  <div>
    <h3>Fale Conosco</h3>
  </div>

</div>

<div class="card mb-3 mr-3 ml-3">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" style="width: 30%">Nome Completo</th>
        <th scope="col" style="width: 55%">Mensagem</th>
        <th scope="col" style="width: 15%">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr scope="row" class="row-table" *ngFor="let contact of contacts" routerLink="{{ contact.id }}">
        <th>{{ contact.fullName }}</th>
        <td>
          <div>
            {{ contact.message | slice:0:60 }}...
          </div>
        </td>
        <td>{{ contact.read ? 'Lido' : ' Não Lido ' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

