<ul class="ml-md-3 mr-md-3 pt-1 pb-1 filters mb-md-2 m-0 p-0">
  <form class="row" [formGroup]="formFilters">
    <div class="col-xl-10 col-md-9 p-0 nav">
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(gender)">Gênero<i class="fas fa-angle-down ml-1"></i></a>
        <div class="submenu" #gender>
          <ul class="items-submenu">
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="gender" (change)="teste()"
                       formControlName="gender" id="genderMale" value="M">
                <label class="form-check-label" for="genderMale">Masculino</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="gender" (change)="teste()"
                       formControlName="gender" id="genderFemale" value="F">
                <label class="form-check-label" for="genderFemale">Feminino</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(category)">Categoria<i class="fas fa-angle-down ml-1"></i></a>
        <div class="submenu" #category>
          <ul class="items-submenu">
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="category" id="categoryRun"
                       (change)="teste()"
                       formControlName="category" value="corrida">
                <label class="form-check-label" for="categoryRun">Corrida</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="category" id="categoryShoes"
                       (change)="teste()"
                       formControlName="category" value="tenis">
                <label class="form-check-label" for="categoryShoes">Tênis</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="category" id="categoryBasket"
                       (change)="teste()"
                       formControlName="category" value="basquete">
                <label class="form-check-label" for="categoryBasket">Basquete</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="category" id="categoryFootball"
                       (change)="teste()"
                       formControlName="category" value="football">
                <label class="form-check-label" for="categoryFootball">Futebol Americano</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="category" id="categoryRugby"
                       (change)="teste()"
                       formControlName="category" value="rugby">
                <label class="form-check-label" for="categoryRugby">Rugby</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="category" id="categorySoccer"
                       (change)="teste()"
                       formControlName="category" value="soccer">
                <label class="form-check-label" for="categorySoccer">Futebol</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(size)">Tamanho<i class="fas fa-angle-down ml-1"></i></a>
        <div class="submenu" #size>
          <ul class="items-submenu p-2 row">
            <li class="col-4 mb-2 pr-2 pl-2">
              <a class="item-submenu size">
                <input class="form-check-input radiosInput" type="radio" name="size" id="size34" (change)="teste()"
                       formControlName="size" value="34">
                <label class="form-check-label" for="size34">34</label>
              </a>
            </li>
            <li class="col-4 mb-2 pr-2 pl-2">
              <a class="item-submenu size">
                <input class="form-check-input radiosInput" type="radio" name="size" id="size36" (change)="teste()"
                       formControlName="size" value="36">
                <label class="form-check-label" for="size36">36</label>
              </a>
            </li>
            <li class="col-4 mb-2 pr-2 pl-2">
              <a class="item-submenu size">
                <input class="form-check-input radiosInput" type="radio" name="size" id="size38" (change)="teste()"
                       formControlName="size" value="38">
                <label class="form-check-label" for="size38">38</label>
              </a>
            </li>
            <li class="col-4 mb-2 pr-2 pl-2">
              <a class="item-submenu size">
                <input class="form-check-input radiosInput" type="radio" name="size" id="size40" (change)="teste()"
                       formControlName="size" value="40">
                <label class="form-check-label" for="size40">40</label>
              </a>
            </li>
            <li class="col-4 mb-2 pr-2 pl-2">
              <a class="item-submenu size">
                <input class="form-check-input radiosInput" type="radio" name="size" id="size42" (change)="teste()"
                       formControlName="size" value="42">
                <label class="form-check-label" for="size42">42</label>
              </a>
            </li>
            <li class="col-4 mb-2 pr-2 pl-2">
              <a class="item-submenu size">
                <input class="form-check-input radiosInput" type="radio" name="size" id="size44" (change)="teste()"
                       formControlName="size" value="44">
                <label class="form-check-label" for="size44">44</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(color)">Cor<i class="fas fa-angle-down ml-1"></i></a>
        <div class="submenu" #color>
          <ul class="items-submenu">
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="color" id="colorBlue" (change)="teste()"
                       formControlName="color" value="azul">
                <label class="form-check-label" for="colorBlue">Azul</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="color" id="colorRed" (change)="teste()"
                       formControlName="color" value="vermelho">
                <label class="form-check-label" for="colorRed">Vermelho</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="color" id="colorBlack" (change)="teste()"
                       formControlName="color" value="preto">
                <label class="form-check-label" for="colorBlack">Preto</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="color" id="colorPink" (change)="teste()"
                       formControlName="color" value="Rosa">
                <label class="form-check-label" for="colorPink">Rosa</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="color" id="colorGreen" (change)="teste()"
                       formControlName="color" value="Verde">
                <label class="form-check-label" for="colorGreen">Verde</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(brand)">Marca<i class="fas fa-angle-down ml-1"></i></a>
        <div class="submenu" #brand>
          <ul class="items-submenu">
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="brand" id="brandAdidas"
                       (change)="teste()"
                       formControlName="brand" value="adidas">
                <label class="form-check-label" for="brandAdidas">Adidas</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="brand" id="brandJordan"
                       (change)="teste()"
                       formControlName="brand" value="Jordan">
                <label class="form-check-label" for="brandJordan">Jordan</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="brand" id="brandNike" (change)="teste()"
                       formControlName="brand" value="Nike">
                <label class="form-check-label" for="brandNike">Nike</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </div>
    <div class="nav col-xl-2 col-md-3 p-0 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateOrderBy(orderBy)">Classificar por<i
          class="fas fa-angle-down ml-1"></i></a>
        <div class="submenu order-by" #orderBy>
          <ul class="items-submenu">
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classBy" id="classByCrescent"
                       (change)="teste()"
                       formControlName="classBy" value="ASC">
                <label class="form-check-label" for="classByCrescent">Crescente</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classBy" id="classByDecreasing"
                       (change)="teste()"
                       formControlName="classBy" value="DESC">
                <label class="form-check-label" for="classByDecreasing">Decrescente</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classBy" id="classByMostRelevant"
                       (change)="teste()"
                       formControlName="classBy" value="mostRelevant">
                <label class="form-check-label" for="classByMostRelevant">Mais relevantes</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classBy" id="classByLowestPrice"
                       (change)="teste()"
                       formControlName="classBy" value="lowestPrice">
                <label class="form-check-label" for="classByLowestPrice">Menor Preço</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classBy" id="classByBiggestPrice"
                       (change)="teste()"
                       formControlName="classBy" value="biggestPrice">
                <label class="form-check-label" for="classByBiggestPrice">Maior Preço</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classBy" id="classByBiggestDiscount"
                       (change)="teste()"
                       formControlName="classBy" value="biggestDiscount">
                <label class="form-check-label" for="classByBiggestDiscount">Maior Desconto</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </div>
  </form>
</ul>
<div>
  <div class="container-remove-filters">
    <span *ngIf="this.formFilters?.get('gender')?.value" class="remove-filter">
      Gênero: {{ this.formFilters?.get('gender')?.value }}
      <button class="btn btn-remove-filter" (click)="removeFilter('gender')">
        <i class="fas fa-times"></i>
      </button>
    </span>
    <span *ngIf="this.formFilters?.get('category')?.value" class="remove-filter">
      {{ this.formFilters?.get('category')?.value }}
      <button class="btn btn-remove-filter" (click)="removeFilter('category')">
        <i class="fas fa-times"></i>
      </button>
    </span>
    <span *ngIf="this.formFilters?.get('size')?.value" class="remove-filter">
      Tamanho: {{ this.formFilters?.get('size')?.value }}
      <button class="btn btn-remove-filter" (click)="removeFilter('size')">
        <i class="fas fa-times"></i>
      </button>
    </span>
    <span *ngIf="this.formFilters?.get('color')?.value" class="remove-filter">
      {{ this.formFilters?.get('color')?.value }}
      <button class="btn btn-remove-filter" (click)="removeFilter('color')">
        <i class="fas fa-times"></i>
      </button>
    </span>
    <span *ngIf="this.formFilters?.get('brand')?.value" class="remove-filter">
      {{ this.formFilters?.get('brand')?.value }}
      <button class="btn btn-remove-filter" (click)="removeFilter('brand')">
        <i class="fas fa-times"></i>
      </button>
    </span>
    <span *ngIf="verifyFilters" (click)="removeAll()">Remover todos</span>
  </div>
</div>
