<ul class="ml-md-3 mr-md-3 pt-1 pb-1 filters mb-md-2 m-0 p-0">
  <form class="row">
    <div class="col-xl-10 col-md-9 p-0 nav">
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(gender)">Gênero<i class="fas fa-angle-down ml-1"></i></a>
        <div class="submenu" #gender>
          <ul class="items-submenu">
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="genderOption" id="genderMale" value="M">
                <label class="form-check-label" for="genderMale">Masculino</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="genderOption" id="genderFemale"
                       value="F">
                <label class="form-check-label" for="genderFemale">Feminino</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(category)">Categoria<i class="fas fa-angle-down ml-1"></i></a>
        <div class="submenu" #category>
          <ul class="items-submenu">
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="categoryOption" id="categoryRun"
                       value="corrida">
                <label class="form-check-label" for="categoryRun">Corrida</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="categoryOption" id="categoryShoes"
                       value="tenis">
                <label class="form-check-label" for="categoryShoes">Tênis</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="categoryOption" id="categoryBasket"
                       value="basquete">
                <label class="form-check-label" for="categoryBasket">Basquete</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="categoryOption" id="categoryFootball"
                       value="football">
                <label class="form-check-label" for="categoryFootball">Futebol Americano</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="categoryOption" id="categoryRugby"
                       value="rugby">
                <label class="form-check-label" for="categoryRugby">Rugby</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="categoryOption" id="categorySoccer"
                       value="soccer">
                <label class="form-check-label" for="categorySoccer">Futebol</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(size)">Tamanho<i class="fas fa-angle-down ml-1"></i></a>
        <div class="submenu" #size>
          <ul class="items-submenu p-2 row">
            <li class="col-4 mb-2 pr-2 pl-2">
              <a class="item-submenu size">
                <input class="form-check-input radiosInput" type="radio" name="sizeOption" id="size34"
                       value="34">
                <label class="form-check-label" for="size34">34</label>
              </a>
            </li>
            <li class="col-4 mb-2 pr-2 pl-2">
              <a class="item-submenu size">
                <input class="form-check-input radiosInput" type="radio" name="sizeOption" id="size36"
                       value="36">
                <label class="form-check-label" for="size36">36</label>
              </a>
            </li>
            <li class="col-4 mb-2 pr-2 pl-2">
              <a class="item-submenu size">
                <input class="form-check-input radiosInput" type="radio" name="sizeOption" id="size38"
                       value="38">
                <label class="form-check-label" for="size38">38</label>
              </a>
            </li>
            <li class="col-4 mb-2 pr-2 pl-2">
              <a class="item-submenu size">
                <input class="form-check-input radiosInput" type="radio" name="sizeOption" id="size40"
                       value="40">
                <label class="form-check-label" for="size40">40</label>
              </a>
            </li>
            <li class="col-4 mb-2 pr-2 pl-2">
              <a class="item-submenu size">
                <input class="form-check-input radiosInput" type="radio" name="sizeOption" id="size42"
                       value="42">
                <label class="form-check-label" for="size42">42</label>
              </a>
            </li>
            <li class="col-4 mb-2 pr-2 pl-2">
              <a class="item-submenu size">
                <input class="form-check-input radiosInput" type="radio" name="sizeOption" id="size44"
                       value="44">
                <label class="form-check-label" for="size44">44</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(color)">Cor<i class="fas fa-angle-down ml-1"></i></a>
        <div class="submenu" #color>
          <ul class="items-submenu">
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="colorOption" id="colorBlue"
                       value="Azul">
                <label class="form-check-label" for="colorBlue">Azul</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="colorOption" id="colorPink"
                       value="Rosa">
                <label class="form-check-label" for="colorPink">Rosa</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="colorOption" id="colorGreen"
                       value="Verde">
                <label class="form-check-label" for="colorGreen">Verde</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(brand)">Marca<i class="fas fa-angle-down ml-1"></i></a>
        <div class="submenu" #brand>
          <ul class="items-submenu">
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="brandOption" id="brandAdidas"
                       value="Adidas">
                <label class="form-check-label" for="brandAdidas">Adidas</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="brandOption" id="brandJordan"
                       value="Jordan">
                <label class="form-check-label" for="brandJordan">Jordan</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="brandOption" id="brandNike"
                       value="Nike">
                <label class="form-check-label" for="brandNike">Nike</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </div>
    <div class="nav col-xl-2 col-md-3 p-0 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateOrderBy(orderBy)">Classificar por<i
          class="fas fa-angle-down ml-1"></i></a>
        <div class="submenu order-by" #orderBy>
          <ul class="items-submenu">
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classByOption" id="classByMostRelevant"
                       value="mostRelevant">
                <label class="form-check-label" for="classByMostRelevant">Mais relevantes</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classByOption" id="classByLowestPrice"
                       value="lowestPrice">
                <label class="form-check-label" for="classByLowestPrice">Menor Preço</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classByOption" id="classByBiggestPrice"
                       value="biggestPrice">
                <label class="form-check-label" for="classByBiggestPrice">Maior Preço</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classByOption"
                       id="classByBiggestDiscount"
                       value="biggestDiscount">
                <label class="form-check-label" for="classByBiggestDiscount">Maior Desconto</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </div>
  </form>
</ul>
