<ul class="ml-md-3 mr-md-3 pt-1 pb-1 filters mb-md-2 m-0 p-0">
  <form class="row" [formGroup]="formFilters">
    <div class="col-xl-10 col-md-9 p-0 nav">
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(gender)">Gênero<i class="fas fa-angle-down ml-1"></i></a>
        <div class="scroll submenu" #gender>
          <ul class="items-submenu">
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="gender" (change)="selectFilter()"
                       formControlName="gender" id="genderMale" value="MALE">
                <label class="form-check-label" for="genderMale">Masculino</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="gender" (change)="selectFilter()"
                       formControlName="gender" id="genderFemale" value="FEMALE">
                <label class="form-check-label" for="genderFemale">Feminino</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(category)">Categoria<i class="fas fa-angle-down ml-1"></i></a>
        <div class="scroll submenu" #category>
          <ul class="items-submenu">
            <li *ngFor="let category of categories">
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="category" id="category{{ category.name | titlecase }}"
                       (change)="selectFilter()"
                       formControlName="category" value="{{ category.name | lowercase }}">
                <label class="form-check-label" for="category{{ category.name | titlecase }}">{{ category.name | titlecase }}</label>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(subCategory)">Subcategoria<i class="fas fa-angle-down ml-1"></i></a>
        <div class="scroll submenu" #subCategory>
          <ul class="items-submenu">
            <li *ngFor="let category of subCategories">
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="subCategory" id="subCategory{{ category.name | titlecase }}"
                       (change)="selectFilter()"
                       formControlName="subCategory" value="{{ category.name | lowercase }}">
                <label class="form-check-label" for="subCategory{{ category.name | titlecase }}">{{ category.name | titlecase }}</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(size)">Tamanho<i class="fas fa-angle-down ml-1"></i></a>
        <div class="scroll submenu" #size>
          <ul class="items-submenu p-2 row">
            <li class="col-4 mb-2 pr-2 pl-2" *ngFor="let size of sizes">
              <a class="item-submenu size">
                <input class="form-check-input radiosInput" type="radio" name="size" id="size{{ size.size }}" (change)="selectFilter()"
                       formControlName="size" value="{{ size.size }}">
                <label class="form-check-label" for="size{{ size.size }}">{{ size.size }}</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(color)">Cor<i class="fas fa-angle-down ml-1"></i></a>
        <div class="scroll submenu" #color>
          <ul class="items-submenu p-2 row">
            <li class="col-3 mb-2 pr-3 pl-3" *ngFor="let c of colors">
              <a class="item-submenu color" [style]="'background-color: ' + c.color + '; border: 1px solid ' + c.border + ';'">
                <input class="form-check-input radiosInput" type="radio" name="color" id="color{{ c.name | titlecase }}" (change)="selectFilter()"
                       formControlName="color" value="{{ c.name }}">
                <label class="form-check-label color-label" [style]="'color: ' + c.color + ';'" for="color{{ c.name | titlecase }}">o</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateItemMenu(brand)">Marca<i class="fas fa-angle-down ml-1"></i></a>
        <div class="scroll submenu" #brand>
          <ul class="items-submenu">
            <li *ngFor="let brand of brands">
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="brand" id="brand{{ brand.name | titlecase }}"
                       (change)="selectFilter()"
                       formControlName="brand" value="{{ brand.name | lowercase }}">
                <label class="form-check-label" for="brand{{ brand.name | titlecase }}">{{ brand.name | titlecase }}</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </div>
    <div class="nav col-xl-2 col-md-3 p-0 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" (click)="changeStateOrderBy(orderBy)">Classificar por<i
          class="fas fa-angle-down ml-1"></i></a>
        <div class="submenu order-by" #orderBy>
          <ul class="items-submenu">
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classBy" id="classByCrescent"
                       (change)="selectFilter()"
                       formControlName="classBy" value="ASC">
                <label class="form-check-label" for="classByCrescent">Crescente</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classBy" id="classByDecreasing"
                       (change)="selectFilter()"
                       formControlName="classBy" value="DESC">
                <label class="form-check-label" for="classByDecreasing">Decrescente</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classBy" id="classByMostRelevant"
                       (change)="selectFilter()"
                       formControlName="classBy" value="mostRelevant">
                <label class="form-check-label" for="classByMostRelevant">Mais relevantes</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classBy" id="classByLowestPrice"
                       (change)="selectFilter()"
                       formControlName="classBy" value="lowestPrice">
                <label class="form-check-label" for="classByLowestPrice">Menor Preço</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classBy" id="classByBiggestPrice"
                       (change)="selectFilter()"
                       formControlName="classBy" value="biggestPrice">
                <label class="form-check-label" for="classByBiggestPrice">Maior Preço</label>
              </a>
            </li>
            <li>
              <a class="item-submenu">
                <input class="form-check-input radiosInput" type="radio" name="classBy" id="classByBiggestDiscount"
                       (change)="selectFilter()"
                       formControlName="classBy" value="biggestDiscount">
                <label class="form-check-label" for="classByBiggestDiscount">Maior Desconto</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </div>
  </form>
</ul>
<div>
  <div class="container-remove-filters">
    <span *ngIf="genderInit" class="remove-filter">
      Gênero: {{ genderInit === 'FEMALE' ? 'feminino' : 'masculino' | titlecase }}
      <button class="btn btn-remove-filter" (click)="removeFilter('gender')">
        <i class="fas fa-times"></i>
      </button>
    </span>
    <span *ngIf="categoryInit" class="remove-filter">
      Categoria: {{ categoryInit | titlecase }}
      <button class="btn btn-remove-filter" (click)="removeFilter('category')">
        <i class="fas fa-times"></i>
      </button>
    </span>
    <span *ngIf="subCategoryInit" class="remove-filter">
      SubCategoria: {{ subCategoryInit | titlecase }}
      <button class="btn btn-remove-filter" (click)="removeFilter('subCategory')">
        <i class="fas fa-times"></i>
      </button>
    </span>
    <span *ngIf="sizeInit" class="remove-filter">
      Tamanho: {{ sizeInit | titlecase }}
      <button class="btn btn-remove-filter" (click)="removeFilter('size')">
        <i class="fas fa-times"></i>
      </button>
    </span>
    <span *ngIf="colorInit" class="remove-filter">
      Cor: {{ colorInit | titlecase }}
      <button class="btn btn-remove-filter" (click)="removeFilter('color')">
        <i class="fas fa-times"></i>
      </button>
    </span>
    <span *ngIf="brandInit" class="remove-filter">
      Marca: {{ brandInit | titlecase }}
      <button class="btn btn-remove-filter" (click)="removeFilter('brand')">
        <i class="fas fa-times"></i>
      </button>
    </span>
    <span *ngIf="verifyFilters" (click)="removeAll()" class="remove-all-filters">Remover todos</span>
  </div>
</div>
