<div class="container pt-5 pb-5 p-4">
  <h2>O que é a Política de Troca?</h2>

  <p>
    A política de troca é uma prática obrigatória para qualquer empresa, independentemente do porte ou segmento.
    Portanto, o CDC garante a troca de mercadoria a partir da data da compra original.
  </p>

  <p>
    Se o produto apresentar defeitos ou quaisquer irregularidades, a regra deve ser cumprida dentro dos termos legais,
    sendo assim o produto deve ser apresentado junto a reclamação com uma semana de antecedência para que as devidas
    medidas possam ser tomadas.
  </p>

  <h3>Política de troca</h3>
  <p>O Código de Defesa do Consumidor é único e deve ser respeitado. </p>
  <p>Passo a passo e informando algumas regras:</p>

  <ul>
    <li>
      Preservar a embalagem do produto, seu lacre, para alguns tipos de produto e suas etiquetas;
    </li>

    <li>
      Apresentar Obrigatoriamente a Nota Fiscal ou print das negociações com os vendedores;
    </li>

    <li>
      O prazo de dias para trocas devido a possíveis defeitos é de 7 dias após receber o produto.
    </li>
  </ul>


  <h3>Modalidades de entrega</h3>
  <p>
    Nossas modalidades de entrega incluem os Correios, Jadlog e J3, também podemos combinar entregas presenciais com
    nossos funcionários.
  </p>

  <h3>Devoluções e trocas</h3>
  <p>
    Trocas e devoluções são direitos do consumidor dentro do período de 7 dias corridos após o recebimento do produto.
  </p>

  <h3>Reembolsos</h3>
  <p>
    Todo caso de Reembolso será tratado por um equipe especializada e tratado de forma individual.
  </p>

  <h3>Frete</h3>
  <p>
    Os valores do frete vão depender do CEP e do tempo de entrega.
  </p>
</div>
