<div class="container-fluid pbt-product pl-xl-5 pr-xl-5">
  <div>
    <h3 class="nz-store-title" data-mask="Vitrine NZ">Vitrine NZ</h3>
  </div>

  <div class="alert alert-danger mt-5" role="alert" *ngIf="hasError">
    Ops! Não foi possível exibir nossos produtos. Por favor, <span class="alert-link" (click)="ngOnInit()">tente novamente</span> mais tarde.
  </div>
  <div class="alert alert-warning mt-5" role="alert" *ngIf="productDetailsTO.length === 0 && !hasError">
    Não foram encontrados produtos.
  </div>

  <div class="p-2" *ngIf="productDetailsTO.length > 0 && !hasError">
    <owl-carousel-o [options]="customOptions" class="owl-nz-store">
      <ng-container *ngFor="let productDetails of productDetailsTO">
        <ng-template carouselSlide id="{slide.id}">
          <!--produto começa aqui-->
          <div class="product" (click)="goToProductDetails(productDetails.id, productDetails.product.id)">
            <div class="product-content">
              <div class="product-image">
                <div class="badge-product" *ngIf="true"><span>Novo</span></div>
                <div class="badge-product badge-sale" [class.second-sale]="true && true" *ngIf="true"><span>35%</span>
                </div>
                <!--<a class="product-favorite"><i class="far fa-heart"></i></a>-->
                <img src="{{productDetails.images.split(';')[0]}}" class="w-100">
                <a class="image-overlay"></a>
              </div>
              <div class="product-detail pt-2">
                <a class="product-description">{{ productDetails?.product?.model }}</a>
                <p class="product-categories mb-0">
                  <a (click)="goToProductListing(productDetails?.product?.brand?.name?.toLowerCase())">{{ productDetails?.product?.brand?.name | titlecase }}</a>,
                  <a>{{ productDetails?.color | titlecase }}</a></p>
                <span><del *ngIf="false">R$ 150,00</del> {{ productDetails?.price | currency }}</span>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>

