<div class="header-top">
  <div class="container-fluid">
    <div class="text-right">
      <div class="header-actions">
        <a class="btn-sign-up" *ngIf="!isLogged">Entrar <i class="fas fa-angle-down ml-1"></i>
          <div class="login">
            <app-login></app-login>
          </div>
        </a>
        <a class="btn-sign-up" routerLink="/painel" *ngIf="isLogged && isAdmin">Painel <i class="fas fa-columns ml-1"></i>
        </a>
        <a routerLink="/criar-conta" *ngIf="!isLogged">Novo Usuário</a>
        <a class="btn-welcome" *ngIf="isLogged">Olá, {{ customer?.name }} <i class="fas fa-angle-down ml-1"></i>
          <div class="account-menu">
            <app-account-menu></app-account-menu>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
