<div class="modal fade" id="esqueci-minha-senha" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title page-title">Esqueci minha senha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotMyPassword()">
          <div>
            <p>Informe seu e-mail cadastrado para recuperar sua senha</p>
          </div>
          <div class="form-group input-forgot-password">
            <input type="email" class="form-control" formControlName="email" placeholder="E-mail"
                   [ngClass]="{ 'is-invalid': validateFields.email.errors && validateFields.email.touched }">
            <i class="fas fa-user icon-input"></i>
            <div class="invalid-feedback text-errors">
              <span *ngIf="validateFields.email?.errors?.required">Por favor, insira seu e-mail.</span>
              <span *ngIf="validateFields.email?.errors?.email">Por favor, insira um e-mail válido</span>
            </div>
          </div>
          <div class="text-center mb-3">
            <button type="submit" class="btn btn-primary btn-submit" [disabled]="!forgotPasswordForm.valid">Enviar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
