.modal-content {
  border-radius: 0;
}

.modal-body {
  font-size: 14px;
  color: #979797;
}

.page-title {
  font-weight: 700;
  font-size: 18px;
  color: #2b2828;
  text-transform: uppercase;
}

.input-forgot-password {
  position: relative;
}

.input-forgot-password input {
  padding-left: 30px;
}

.icon-input {
  position: absolute;
  top: 12px;
  left: 10px;
}

input {
  font-size: 14px;
  width: 100%;
  border-radius: 0;
  padding-left: 30px;
}

.btn-submit {
  width: 150px;
  border-radius: 0;
  background-color: #F37135;
  border: #F37135;
  font-size: 14px;
  margin-top: 10px;
  padding: 10px 6px;
  text-transform: uppercase;
  font-weight: 500;
}

@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .page-title {
    font-size: 22px;
  }
}
