.form-container {
  max-width: 600px;
}

.bg-nz-gray {
  background-color: #ededed;
}

.btn-orange-crayola {
  background-color: #F37135;
  color: #fff;
  border-radius: 40px;
  text-transform: uppercase;
}

