<div class="container-fluid pt-4 pb-4 bg-orange-crayola">
  <div class="row p-4">
    <div class="col-xl-3 col-sm-4 col-12 mb-3">
      <h3 class="title-footer">CNPJ</h3>
      <p class="text-footer">42.456.667/0001-43</p>
    </div>
    <div class="col-xl-3 col-sm-4 col-12 mb-3">
      <h3 class="title-footer"></h3>
      <p class="text-footer"></p>
    </div>
    <div class="col-xl-6 col-sm-4 col-12 mb-3">
      <h3 class="title-footer"><a routerLink="politica-troca">Política de Troca</a></h3>
      <!--<h3 class="title-footer"><a>Cupom de Desconto</a></h3>-->
      <!--<h3 class="title-footer"><a>Trabalhe Conosco</a></h3>-->
     <h3 class="title-footer"><a routerLink="politica-privacidade">Política de Privacidade</a></h3>
      <h3 class="title-footer"><a>Reclame Aqui</a></h3>
     <h3 class="title-footer"><a routerLink="desenvolvido-por">Desenvolvido Por</a></h3>
   </div>
 </div>
</div>
