<header class="header">
  <div class="header__top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
          <p></p>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
          <div class="header__actions">
            <a href="#">Cadastrar Usuário</a>
          </div>
          <div class="header__actions">
            <a href="#">Entrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-nav-bar></app-nav-bar>

</header>
