.header-top {
  border-bottom: 1px solid #e5e5e5;
}

.header-actions > a {
  display: inline-block;
  padding: 0 15px;
  font-size: 13px;
  text-align: center;
  color: #8d8d8d;
  text-transform: uppercase;
  line-height: 40px;
  border-left: 1px solid #e5e5e5;
  vertical-align: top;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

.header-actions > a:hover {
  color: #F37135;
  background-color: #e5e5e5;
}

.header-actions > a:last-child {
  border-right: 1px solid #e5e5e5;
}

.login {
  position: absolute;
  cursor: default;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  color: #979797;
  top: 40px;
  right: 10px;
  z-index: 100;
  display: none;
  padding: 25px 20px;
  border: 1px solid #ededed;
  box-shadow: 0 0.0625rem 0.5rem 0 rgb(0 0 0 / 25%);
}

.login input {
  font-size: 14px;
  width: 100%;
  border-radius: 0;
  padding-left: 30px;
}

.login .input-login .password {
  padding-right: 30px;
}

.input-login {
  position: relative;
}

.icon-input {
  position: absolute;
  top: 12px;
  left: 10px;
}

.btn-input {
  position: absolute;
  color: #979797;
  border-radius: 50%;
  font-size: 12px;
  height: 20px;
  width: 20px;
  padding: 0;
  top: 7px;
  right: 7px;
}

.btn-input:active {
  border: none;
}


.login .btn-submit {
  width: 150px;
  border-radius: 0;
  background-color: #F37135;
  border: #F37135;
  font-size: 14px;
  margin-top: 10px;
  padding: 10px 6px;
}

.btn-sign-up:hover .login {
  display: block;
}

@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
