<div class="d-flex justify-content-between m-3">
  <div>
    <h3>Categorias</h3>
  </div>
  <div>
    <button type="button" class="btn btn-primary" routerLink="nova-categoria"> + Nova Categoria</button>
  </div>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="form-group col-lg-3 col-sm-12 mb-3 mb-lg-0">
      <label for="categorie">Tipo de Categoria</label>
      <select class="form-control" id="categorie">
        <option value="1">Acessórios</option>
        <option value="2">NZesportes</option>
      </select>
    </div>
    <div class="form-group col-lg-3 col-sm-12 mb-3 mb-lg-0">
      <label for="filter">Filtrar</label>
      <select class="form-control" id="filter">
        <option value="1">Ativo</option>
        <option value="2">Inativo</option>
      </select>
    </div>
    <div class="form-group col-lg-6 col-sm-12 mb-3 mb-lg-0">
      <label for="name">Pesquisa</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="name" placeholder="Shorts" aria-label="Shorts"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 mr-3 ml-3" >
  <div class="table-responsive ">

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Tipo</th>
        <th scope="col">No site</th>
        <th scope="col">Produtos</th>
        <th scope="col">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row-table" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10]" routerLink="nova-categoria">
        <th scope="row">{{i}}</th>
        <td>Shorts</td>
        <td>Acessórios</td>
        <td [ngClass]="{
        'text-success': i % 2 === 0,
        'text-secondary': i % 2 !== 0
        }"><b>{{i % 2 === 0 ? 'Ativo' : 'Inativo'}}</b></td>
        <td>{{i * 2}}</td>
        <td><i class="fas fa-edit text-primary"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<nav aria-label="Page navigation example" >
  <ul class="pagination justify-content-end  mr-3 ml-3">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
