.nav-column-left {
  width: 30%;
}

.nav-column-center {
  width: 0;
  display: none;
}

.nav-column-right {
  width: 70%;
}

.search-header {
  color: #F37135;
  display: none;
  vertical-align: top;
  margin-right: 15px;
  position: relative;
  width: 100%;
  max-width: 260px;
  top: 25px;
}

.search-header input {
  padding: 0 20px;
  border: none;
  height: 40px;
  background-color: #e8e8e8;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  font-size: 13px;
  color: #767779;
}

.search-header button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  color: #000;
  font-size: 15px;
  border: none;
  background-color: transparent;
  transition: all 0.4s ease;
}

.nav-cart {
  position: relative;
  line-height: 90px;
  display: inline-block;
  margin: auto 0;
}

.nav-cart-button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 15px;
  background-color: #2b2828;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-cart-button span {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #F37135;
}

.nav-cart-button span i {
  font-size: 10px;
}

.nav-cart-button i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}


.nav-toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 15px;
  margin-left: 20px;
  overflow: hidden;
  background-color: #F37135;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.nav-toggle i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

.nav-cart:hover .cart-preview {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.cart-preview {
  position: absolute;
  padding-top: 10px;
  top: 100%;
  right: -55px;
  width: 300px;
  background-color: #313645;
  z-index: 1000;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0 10px 30px 0 rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 20%);
  visibility: hidden;
  opacity: 0;

  line-height: 1.43em;
  color: #fff;
}


// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .search-header {
    display: inline-block;
    max-width: 200px;
  }

  .cart-preview {
    right: 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .nav-column-left {
    width: 35%;
  }

  .nav-column-right {
    width: 65%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .nav-column-left {
    width: 50%;
  }

  .nav-column-right {
    width: 50%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .nav-column-left {
    width: 15%;
  }

  .nav-column-center {
    width: 60%;
    display: block;
  }

  .nav-column-right {
    width: 25%;
  }
  .nav-toggle {
    display: none;
  }
}
