@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Barlow", sans-serif;
}

a {
  text-decoration: none;
}

.owl-theme .owl-nav [class*=owl-] {
  position: absolute;
  top: 0;
  color: #8d8d8d;
  font-size: 16px;
  background: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.owl-theme .owl-nav .owl-prev {
  right: 105px;
}

.owl-theme .owl-nav .owl-next {
  right: 0px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  color: #F37135;
  background-color: #fff;
}

.owl-stage {
  margin: 70px 0 15px;
}
