<div class="container pt-5 pb-5 p-4">
  <h2>Política de privacidade</h2>

  <p>
    Sabemos que você se preocupa com a forma como suas informações são usadas e compartilhadas e agradecemos sua
    confiança de que cuidaremos delas com cuidado e sensatez. Nesse texto descrevemos como coletamos e tratamos suas
    informações pessoais obtidas em contato com nosso site ou nossos vendedores.
  </p>

  <h3>Quais informações pessoais sobre clientes a NZ coleta?</h3>
  <p>Coletamos suas informações pessoais para prestar e continuamente melhorar nossos produtos e serviços.</p>
  <p>Esses são os tipos de informações pessoais que coletamos:</p>

  <ul>
    <li>
      <b>Informações que você nos fornece:</b> Recebemos e armazenamos as informações que você nos fornece em relação
      aos
      Serviços da NZ Esportes, Você pode optar por não fornecer certas informações, mas, neste caso, pode não conseguir
      se beneficiar de muitos de nossos Serviços da NZ Esportes;
    </li>

    <li>
      <b>Informações de outras fontes:</b> Poderemos receber informações sobre você de outras fontes, tais como
      informações
      atualizadas de entrega e informações de endereço das nossas transportadoras, as quais usamos para corrigir nossos
      registros e entregar sua próxima entrega de forma mais fácil.
    </li>
  </ul>


  <h3>Para quais finalidades a NZ trata suas informações pessoais?</h3>
  <p><b>Tratamos suas informações pessoais para operar, prestar, desenvolver e melhorar os produtos e serviços que
    oferecemos a nossos clientes. Essas finalidades incluem:</b></p>

  <ul>
    <li>
      <b>Compra e entrega de produtos e serviços.</b> Usamos suas informações pessoais para receber e organizar pedidos,
      entregar produtos e serviços, processar pagamentos e nos comunicar com você sobre pedidos, produtos, serviços e
      ofertas promocionais;
    </li>
    <li>
      <b>Fornecimento, correção e melhoria de Serviços da NZ Esportes.</b> Usamos suas informações pessoais para
      oferecer funcionalidades, analisar desempenhos, corrigir erros e melhorar a usabilidade e a efetividade dos
      Serviços da NZ;
    </li>
    <li>
      <b>Cumprimento de obrigações legais.</b> Em alguns casos, coletamos e usamos suas informações pessoais para
      cumprir com leis. Por exemplo, coletamos de vendedores informações sobre o local do estabelecimento e as
      informações da conta bancária para verificação de identidade e outros fins;
    </li>
    <li>
      <b>Comunicação com você.</b> Usamos suas informações pessoais para nos comunicarmos com você com relação aos
      Serviços da NZ Esportes por diferentes canais (por exemplo, telefone, e-mail, e nossas redes sociais);
    </li>
    <li>
      <b>Prevenção de fraude e riscos de crédito.</b> Tratamos de informações pessoais para impedir e detectar fraude e
      abuso a fim de proteger a segurança de nossos clientes, da NZ Esportes e de terceiros.
    </li>
  </ul>
  <p>
    As informações sobre nossos clientes são parte importante de nosso negócio, e nós não atuamos no ramo de venda de
    informações pessoais de nossos clientes. A NZ compartilha as informações pessoais de seus clientes somente conforme
    descrito abaixo.
  </p>

  <ul>
    <li>
      <b>Transações envolvendo terceiros:</b> Disponibilizamos a você serviços, produtos, fornecidos por terceiros para
      uso
      nosso ou através dos Serviços da Nz Esportes.
    </li>
    <li>
      <b>Terceiros prestadores de serviços:</b> Usamos outras pessoas e empresas para desempenhar funções para nós.
      Exemplos
      incluem o atendimento de pedidos de produtos ou serviços, entrega de pacotes, envio de correspondências e etc.
    </li>
  </ul>

  <h3>Crianças podem usar os Serviços da NZ Esportes?</h3>
  <p>
    A NZ não vende produtos para serem comprados por crianças. Vendemos produtos de crianças que devem ser comprados por
    adultos. Caso você seja menor de 18 anos, você poderá usar os serviços da NZ somente com o acompanhamento de seus
    pais ou responsáveis legais.
  </p>

  <h3>Por quanto tempo mantemos suas informações pessoais?</h3>
  <p>
    Mantemos suas informações pessoais para que você possa continuar usando os Serviços da NZ Esportes pelo tempo
    necessário para atender às finalidades descritas, conforme possa ser exigido por lei como, por exemplo, para fins
    fiscais e contábeis ou conforme de outro modo informado a você. Por exemplo, mantemos seu histórico de transações a
    fim de que você possa consultar suas compras anteriores (e repetir os pedidos, se desejar) e os endereços para os
    quais seus pedidos foram enviados, e para melhorarmos a relevância de produtos e conteúdos que recomendamos.
  </p>

</div>
